@import 'cart' ;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.header{
    padding: 0 calc(50% - 600px);
    height: 735px;
    background-image: url(img/top.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-catalog{
    padding: 0 calc(50% - 600px);
    height: 400px;
    background-image: url(img/header.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.topmenu {
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

.topmenu__logo {
    padding-top: 16px; 
}

.inp {
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin-left: 10px;
    background: transparent;
    font-family: inherit;
    padding-left: 32px;
    width: 288px;
    height: 41px;
    left: 263px;
    top: 17.5px;
}

.inp::placeholder {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 32px;
}

.menu {
    display: flex;
    column-gap: 32px;
}

.menu li {
    list-style: none; 
}

.menu__link {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}

.slogan{
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    margin-top: 64px;
    margin-bottom: 16px;
    color: rgb(255, 255, 255);
}

.name {
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    margin-top: 127px;
    margin-bottom: 16px;
    color: rgb(255, 255, 255);
}

.slogan__text{
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.slogan__link {
    font-size: 16px;
    line-height: 24px; 
    color: rgb(255, 255, 255);
    text-decoration-line: underline; 
}

.menu-mebel {
    padding: 0 calc(50% - 600px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.for{
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
}

.for__item{
    height: 415px;
    grid-column: span 4;
    color: rgb(255, 255, 255);
    font-size: 34px;
    font-weight: 600;
    line-height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.for__item-big {
    grid-column: span 6;
}

.for__item_1 {
    background-image: url(img/rest.jpeg);
}

.for__item_2 {
    background-image: url(img/Job.jpeg);
}

.for__item_3 {
    background-image: url(img/kitchens.jpeg);
}

.for__item_4 {
    background-image: url(img/childrens.jpeg);
}

.for__item_5 {
    background-image: url(img/bathroom.jpeg);
}

.content {
    padding: 0 calc(50% - 600px); 
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brcrumbs {
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 64px;
    margin-bottom: 41px;
    display: flex;
    gap: 10px;
    
}

.brcrumbs__link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.brcrumbs__item{
    gap: 10;   
}

.filter {
    margin-top: 61px;
    margin-bottom: 36px;
    display: flex;
    gap: 10px;
}

.filter__adfilter {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.filter__adfilter-but {
    height: 40px;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 23px;
    padding-right: 54px;
    font-size: 16px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 20px;
    appearance: none;
    background-image: url(img/stela.svg);
    background-repeat: no-repeat;
    background-position: right 22px center;
    font-family: inherit;
    background-color: transparent;
    font-weight: 500;
    text-align: start;
    max-width: 182px;
    border-color: #c4c4c4;
    cursor: pointer;
}

.filter__form{
    position: absolute;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    top: calc(100% + 14px);
    align-items: start;
    gap: 36px;
    padding: 40px 48px;
    box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);

}

.filter__block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 32px 65px;
    max-height: 468px;
    min-width: 445.5px;
}

.filter__fieldset {
    display: flex; 
    flex-direction: column;
    padding: 0; 
    border: none;
}

.filter__filset--type {
    padding-right: 40px;
}

.filter__title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}

.range {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.range__inp {
    width: 190px;
    height: 10px;
    overflow: hidden;
    outline: none;
}

.range__inp,
.range__inp::-webkit-slider-runnable-track,
.range__inp::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
}

.range__inp::-webkit-slider-runnable-track {
    width: 200px; 
    height: 1px; 
    background: #000; 
}

.range__inp:nth-child(2)::-webkit-slider-runnable-track {
    background: none;
}

.range__inp::-webkit-slider-thumb {
    position: relative; 
    height: 8px; 
    width: 8px; 
    margin-top: -4px; 
    background: #000;
    border: 1px solid #000;
    border-radius: 25px;
    cursor: pointer; 
    z-index: 1; 
}
  
.range__inp::-webkit-slider-thumb:active {
    cursor: grabbing; 
}
  
.range__inp:nth-child(1)::-webkit-slider-thumb {
    z-index: 2;
}
  
.range__slider {
    font-family: sans-serif;
    font-size: 14px;
    position: relative;
    display: inline-block;
}
  
.range__slider input {
    position: absolute;
}
  
.range__label {
    font-size: 14px;
    display: flex;
}

.color {
    display: flex;
    flex-wrap: wrap;
    max-width: 190px;
    gap: 14px;
}

.color__checkbox {
    width: 15px;
    height: 15px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox__inp{
    display: none;
}

.checkbox__label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    font-size: 14px;
}

.checkbox__label::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #888888;
    position: absolute;
    left: 0;
    background-color: #fff;
}

.checkbox__inp:checked + .checkbox__label::before{
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3L4.5 6.5L9 1' stroke='black'/%3E%3C/svg%3E%0A");    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    border-color: #000;
}

.checkbox__label--white::before{
    background-color: #fff;
    border-color: #737373;
}

.checkbox__label--black::before{
    background-color: #000;
    border-color: #000; 
}

.checkbox__label--gray::before{
    background-color: #737373; 
    border-color: #737373;  
}

.checkbox__label--red::before{
    background-color: #FF0000; 
    border-color: #FF0000;  
}

.checkbox__label--orange::before{
    background-color: #FF7A41; 
    border-color: #FF7A41;
}

.checkbox__label--yellow::before{
    background-color: #F2CB01; 
    border-color: #F2CB01;
}

.checkbox__label--green::before{
    background-color: #00BF2A;
    border-color: #00BF2A; 
}

.checkbox__label--sea::before{
    background-color: #1CCC97;
    border-color: #1CCC97;
}

.checkbox__label--blue::before{
    background-color: #009FE3; 
    border-color: #009FE3;
}

.checkbox__label--dark-blue::before{
    background-color: #000AF8; 
    border-color: #000AF8;
}

.checkbox__label--violet::before{
    background-color: #6710D6;
    border-color: #6710D6; 
}

.checkbox__label--dark-pink::before{
    background-color: #9D0DB5;
    border-color: #9D0DB5;
}

.checkbox__label--purple::before{
    background-color: #D89AFF;
    border-color: #D89AFF; 
}

.checkbox__label--pink::before{
    background-color: #FF65A6;
    border-color: #FF65A6; 
}

.checkbox__inp:checked + .checkbox__label--black::before,
.checkbox__inp:checked + .checkbox__label--dark-blue::before,
.checkbox__inp:checked + .checkbox__label--violet::before {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3L4.5 6.5L9 1' stroke='white'/%3E%3C/svg%3E%0A"); /* Фоновое изображение белой галочки */
}

.filter__content {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.radio {
    display: flex;
    align-items: center;
}

.radio__input {
    display: none;
}

.radio__label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    font-size: 14px;
}

.radio__label::before {
    content: "";
    width: 14px;
    height: 14px;
    border: 1px solid #888888;
    border-radius: 50%;
    position: absolute;
    left: 0;
    background-color: #fff;
}

.radio__input:checked + .radio__label::before {
    border-color: #000;
    background-image: url(img/Vector.svg);
    background-repeat: no-repeat;
    background-position: center; 
}

.filter__but {
    box-sizing: border-box;
    border: 1px solid rgb(4, 4, 4);
    border-radius: 20px;
    min-height: 40px;
    font: inherit;
    padding: 10px 23px;
    cursor: pointer;
    background-color: #fff;
    align-self: flex-end;
    max-width: 190px;
    width: 100%;
}

.filter__filter {
    height: 40px;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 23px;
    padding-right: 54px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 20px;
    appearance: none;
    background-image: url(img/stela.svg);
    background-repeat: no-repeat;
    background-position: right 22px center;
    font-family: inherit;
    cursor: pointer;
}

.title {
    color: rgb(0, 0, 0);
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
    margin-bottom: 32px;
    margin-top: 64px;
}

.prod {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 56px;
}

article {
    max-width: 379px;
}

.prod__title {
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 9px;
}

.prod__descriprion {
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    margin-bottom: 12px;
}

.prod__price {
    display: flex;
    column-gap: 32px;
}

.prod__pr {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #050505;
}

.prod__oldpr {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: line-through;
    color: #888888;
}

.link_box {
    margin-top: 39px;
}

.link_pr {
    margin-top: 32px;
}

.link_box__link {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.footer {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    display: flex; 
    justify-content: space-between;
    background-color: #F7F6F6;
    background: rgb(247, 246, 246);
    margin-top: 64px;
    padding-top: 32px;
    padding-bottom: 64px;
}

.footer__logo {
    width: 198px;
    height: 44px;
    margin-right: 212px;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-right: 129px;
}

.footer__menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-right: 192px;
}

.footer__title {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.footer__link {
    color: rgb(136, 136, 136);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-decoration: none;
}

.footer_icons {
    display: flex;
    column-gap: 20px;
}

.footer__news {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.footer__news p{
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

.email{
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    width: 260px;
    height: 40px;
    left: 1059px;
    top: 3438px;
    background: transparent;
    font-family: inherit;
    padding-left: 17px;
    box-sizing: border-box;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.email::placeholder {
    color: rgb(196, 196, 196);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-left: 17px;
    
}

.but{
    background: rgba(222,215,215,0.41);
    border: none;
    box-sizing: border-box;
    border-radius: 20px;
    width: 260px;
    height: 46px;
    line-height: 18px;
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    font-family: inherit;
    cursor: pointer;
}